{% extends "base.html" %}
{% block meta %}
    <title>Experience - {{ name }}</title>
{% endblock meta %}

{% block content %}
    <main>
        <section class="skill-section" id="skill">
            <div class="container">
                <p class="section-kicker">Skill saya sejauh ini</p>
                <h1>Skills</h1>

                <div class="skill-grid">
                    {% for skill in skill_list %}
                        <article class="skill-card">
                            <div class="skill-header">
                                {% if skill.image %} 
                                <img class ="skill-image" src="{{ skill.image }}" alt="{{ skill.title }}">
                                {% endif %}
                                <div class="skill-top"> 
                                    <h2>
                                        {{ skill.title }}
                                    </h2>
                                    <span class="skill-category">
                                        {{ skill.get_category_display }}
                                    </span>
                                </div>
                            </div>
                            <div class="skill-info"> 
                                <p class="skill-description">
                                    {{ skill.description }}
                                </p>
                                <details class="skill-toggle">
                                    <summary class="skill-button"> 
                                        <span class="skill-full-description"> Check full description </span>
                                        <span class="skill-less-description"> Check less description </span>
                                    </summary>
                                    <div class="skill-details">
                                        {{ skill.details }}
                                    </div>
                                </details>
                            </div>
                        </article>
                    {% empty %}
                        <p class="empty-state">
                            Belum ada skill yang ditambahkan.
                        </p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
